@model IEnumerable<Game>

@{
    ViewData["Title"] = "Developer Games";
}


<div class="container mt-5">
    <h1 class="mb-4">@ViewData["Title"]</h1>
    
    <div class="alert alert-info" role="alert">
        <p>Explore our collection of amazing video games. Discover detailed information about each title!
    </div>

    <partial name="_AllGamesPartial" model="@Model" />
</div>
